PaymentSystem/obj/PaymentSystem.csproj.nuget.cache
PaymentSystem/obj/Debug/netcoreapp2.0/PaymentSystem.csprojAssemblyReference.cache
PaymentSystem/obj/Debug/netcoreapp2.0/PaymentSystem.csproj.CoreCompileInputs.cache
PaymentSystem/obj/Debug/netcoreapp2.0/PaymentSystem.assets.cache
BookmakerUnitTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BookmakerUnitTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BookmakerUnitTests/obj/Debug/netcoreapp2.1/BookmakerUnitTests.csprojAssemblyReference.cache
BookmakerUnitTests/obj/Debug/netcoreapp2.1/BookmakerUnitTests.csproj.CoreCompileInputs.cache
BookmakerUnitTests/obj/BookmakerUnitTests.csproj.nuget.g.targets
BookmakerUnitTests/obj/BookmakerUnitTests.csproj.nuget.g.props
BookmakerUnitTests/obj/BookmakerUnitTests.csproj.nuget.cache
Bookmaker/obj/project.assets.json
Bookmaker/obj/Debug/netcoreapp2.0/Bookmaker.AssemblyInfo.cs
.vs/Bookmaker/v15/Server/sqlite3/storage.ide-wal
.vs/Bookmaker/v15/Server/sqlite3/storage.ide-shm
.vs/Bookmaker/v15/Server/sqlite3/storage.ide
.vs/Bookmaker/v15/Server/sqlite3/db.lock
PaymentSystem/obj/project.assets.json
PaymentSystem/obj/PaymentSystem.csproj.nuget.g.targets
PaymentSystem/obj/PaymentSystem.csproj.nuget.g.props
PaymentSystem/obj/Debug/netcoreapp2.0/PaymentSystem.AssemblyInfoInputs.cache
PaymentSystem/obj/Debug/netcoreapp2.0/PaymentSystem.AssemblyInfo.cs
BookmakerUnitTests/obj/project.assets.json
BookmakerUnitTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BookmakerUnitTests/obj/Debug/netcoreapp2.1/BookmakerUnitTests.assets.cache
BookmakerUnitTests/obj/Debug/netcoreapp2.1/BookmakerUnitTests.Program.cs
BookmakerUnitTests/obj/Debug/netcoreapp2.1/BookmakerUnitTests.AssemblyInfoInputs.cache
BookmakerUnitTests/obj/Debug/netcoreapp2.1/BookmakerUnitTests.AssemblyInfo.cs
Bookmaker/obj/Debug/netcoreapp2.0/Bookmaker.csprojAssemblyReference.cache
Bookmaker/obj/Debug/netcoreapp2.0/Bookmaker.csproj.CoreCompileInputs.cache
Bookmaker/obj/Debug/netcoreapp2.0/Bookmaker.assets.cache
Bookmaker/obj/Debug/netcoreapp2.0/Bookmaker.AssemblyInfoInputs.cache
Bookmaker/obj/Bookmaker.csproj.nuget.g.targets
Bookmaker/obj/Bookmaker.csproj.nuget.g.props
Bookmaker/obj/Bookmaker.csproj.nuget.cache
